includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 6
	bootstrapFiles:
		- tests/phpstan/constants.php
	paths:
		- includes
		- openfields.php
		- uninstall.php
	excludePaths:
		- vendor/*
		- node_modules/*
		- assets/build/*
	treatPhpDocTypesAsCertain: false
